.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #1a1a1a;
	display: flex;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
}

.FooterLeftContainer a {
	color: #696880;
	margin: 10px;
}

.FooterRightContainer {
	margin-right: 10px;
}

.FooterRightContainer a {
	margin: 10px;
	text-decoration: none;
}