.headMain {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #121212;
}

.headNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 95%;
	margin: -10px auto;
	font-family: "Poppins";
}

.rightNav {
	display: flex;
	cursor: pointer;
	overflow-x: auto;
}

.rightNav a {
	text-decoration: underline;
	font-family: "Atkinson Hyperlegible";
	color: var(--light-green);
	font-size: 18px;
}

.rightNav p {
	margin-right: 10px;
	margin-left: 10px;
}