.Main {
	height: 100dvh;
	width: 100dvw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.LoadingContainer {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 8px solid;
	border-color: #f4f4f4 #0000;
	animation: s1 1s infinite;
}

@keyframes s1 {
	to {
		transform: rotate(0.5turn);
	}
}
