.Main {
	max-width: 95%;
	margin: 10px auto;
}

.Hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ImageContainer {
	display: flex;
	flex-direction: column;
	max-width: auto;
}

.ImageContainer img {
	margin: 0px 4px 4px 4px;
	border-radius: 8px;
}

.WelcomeContainer button {
	font-family: "Inter";
	font-size: 16px;
	margin-top: 8px;
	padding: 6px;
	border-radius: 5px;
	border: none;
	outline: none;
	background-color: var(--neon-green);
	cursor: pointer;
}

.WelcomeText {
	font-family: "Poppins";
	color: white;
	font-size: 48px;
	text-shadow: rgb(0, 183, 255) 2px 2px 50px;
	margin-right: 10px;
}

.SelfPromoContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: white;
}

.SelfPromoContainer p {
	font-family: "Atkinson Hyperlegible";
	color: white;
	text-align: center;
}

.SearchBar {
	display: flex;
	align-items: center;
	border-radius: 4px;
	background: #1f1f1f;
	margin-top: 5px;
	width: 55%;
}

.SearchBar input {
	background: none;
	outline: none;
	border: none;
	margin-left: 5px;
	padding: 4px;
	width: 100%;
	color: white;
	font-family: "Kanit";
	font-size: 16px;
}

.LoadingContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90dvh;
	color: white;
	font-family: "Kanit";
	font-size: 18px;
}

@media screen and (max-width: 768px) {

	.Hero {
		flex-direction: column;
	}

	.WelcomeContainer {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 10px;
	}

	.WelcomeText {
		font-size: 30px;
	}

	.HorizontalImageContainer img {
		width: 100%;
		border-radius: 5px;
		height: auto;
		margin: 10px auto;
	}

	.VerticalImageContainer img {
		display: none;
	}

	.SearchBar {
		width: 80%;
		margin: 0px auto;
	}
}