.Main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100dvh;
	width: 100dvw;
}

.MangaSVG {
	height: auto;
	width: auto;
}

.searchMain {
	display: flex;
	align-items: center;
}

.searchMain button {
	margin: 10px 5px 0px 5px;
	padding: 4px;
	border-radius: 0.3rem;
	border: none;
	outline: none;
	font-family: "Atkinson Hyperlegible", serif;
	background: #1f1f1f;
	color: white;
}

.SearchBar {
	display: flex;
	align-items: center;
	background: #1f1f1f;
	margin-top: 10px;
	border-style: dotted;
	border-color: rgb(63, 63, 63);
	border-width: 2px;
	width: 20dvw;
	border-radius: 1rem;
}

.SearchBar input {
	background: none;
	outline: none;
	border: none;
	margin-left: 5px;
	padding: 4px;
	width: 100%;
	color: white;
	font-family: "Lexend Deca", serif;
	font-size: 16px;
}

@media screen and (max-width: 768px) {
	.MangaSVG {
		width: 100%;
	}

	.SearchBar {
		width: 50dvw;
	}
}