.Main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.searchMain {
	display: flex;
	align-items: center;
	justify-content: center;
}

.MangaImage {
	width: auto;
	height: auto;
}

.SearchBar {
	display: flex;
	align-items: center;
	background: #121212;
	padding: 0.2rem;
	border-radius: 0.5rem;
	width: 20dvw;
	margin-top: 0.3rem;
}

.histButton button {
	margin: 0px 5px 0px 5px;
	border-radius: 0.2rem;
	padding: 0.4rem;
	border: none;
	outline: none;
	font-family: "Lexend Deca", serif;
	background: #1f1f1f;
	color: white;
	cursor: pointer;
}

.SearchBar input {
	background: none;
	outline: none;
	border: none;
	margin-left: 5px;
	padding: 4px;
	width: 100%;
	color: white;
	font-family: "Lexend Deca", serif;
	font-size: 16px;
}

.SearchBar input::placeholder {
	color: rgb(71, 71, 71);
}

@media screen and (max-width: 768px) {
	.SearchBar {
		width: 40vw;
	}
}

@media screen and (max-width: 425px) {
	.MangaImage {
		width: 100%;
		height: auto;
	}

	.SearchBar {
		width: 60dvw;
	}
}