.waitWhileLoading {
	font-size: 18px;
	font-family: "Kanit";
	text-align: center;
	color: white;
}

.inputContainer {
	display: flex;
	align-items: center;
}

.inputContainer button {
	margin: 5px;
	background-color: #121212;
	padding: 10px;
	border-radius: 10px;
	outline: none;
	border: none;
	color: white;
	font-family: "Atkinson Hyperlegible";
}

.inputContainer button a {
	text-decoration: none;
	color: white;
}

.searchContainer input {
	border: none;
	border-radius: 5px;
	color: white;
	outline: none;
	background: none;
	width: 100%;
	font-family: "Lato";
	font-size: 16px;
}

.searchContainer {
	display: flex;
	align-items: center;
	margin: 20px 0px 20px 0px;
	background-color: #121212;
	padding: 10px;
	border-radius: 10px;
	width: 30%;
}

.searchIcon {
	color: white;
	margin-right: 5px;
}

.animeEntry {
	display: flex;
	overflow-x: auto;
}

.animeEntry:hover .anime {
	opacity: 0.4;
}

.animeEntry:hover .anime:hover {
	opacity: 1;
}

.animeEntry::-webkit-scrollbar {
	height: 5px;
}

.animeEntry::-webkit-scrollbar-track {
	background-color: #636363;
	border-radius: 5px;
}

.animeEntry::-webkit-scrollbar-thumb {
	background-color: rgba(196, 196, 196, 0.692);
	border-radius: 5px;

}

.anime {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	border-style: dotted;
	border-color: #636363;
	margin: 10px 10px 0px 0px;
	border-radius: 10px;
	border-width: 4px;
	transition: opacity 200ms ease-in;
	background-color: #353535a6;

}

.anime p {
	color: white;
	width: 20dvw;
	font-family: "Atkinson Hyperlegible";
	font-size: 18px;
}

.animeImage {
	border-radius: 10px;
	margin-left: 20px;
}

@media screen and (max-width: 768px) {
	.searchContainer {
		width: 70%;
	}

	.anime p {
		width: 50dvw;
	}
}