.Main {
	max-width: 95%;
	margin: 60px auto;
}

.MangaContainer {
	display: flex;
	flex-direction: column;
}

.SearchedFor {
	color: white;
	text-align: center;
	font-size: 26px;
}

.MangaEntries {
	display: flex;
	flex-direction: row;
	margin: 0px 10px 10px 10px;
	padding: 10px;
	border-style: solid;
	border-radius: 0.5rem;
	border-color: #363636 #474747;
	border-width: 0.1rem;
	align-items: center;
	cursor: pointer;
	transition: opacity 200ms linear, transform 200ms linear;
}

/* THIS WORKS*/
.MangaContainer:hover .MangaEntries {
	opacity: 0.5;
}

.MangaContainer:hover .MangaEntries:hover {
	opacity: 1;
	transform: scale(1.01);
}

.MangaInfo {
	color: white;
	margin-left: 20px;
}

.MangaEntries img {
	border-radius: 0.5rem;
}

.MangaTitle {
	margin: 0px;
	font-size: 28px;
	color: var(--neon-green);
}

.MangaDescription {
	margin: 0.5rem 0 0.5rem 0;
}

.MangaStatus {
	color: var(--soft-purple);
	margin: 0px;
}

.MangaVolume {
	margin: 0px;
	color: #ffacac;
}

.MangaChapters {
	color: #ffebb4;
	margin: 0.3rem 0 0.3rem 0;
}

@media screen and (max-width: 768px) {
	.Main {
		max-width: 100%;
	}

	.MangaEntries {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.MangaEntries img {
		width: auto;
		height: auto;
		border-radius: 0.3rem;
		background-color: #121212;
		padding: 0.2rem;
	}

	.MangaTitle {
		font-weight: 600;
	}

	.MangaDescription {
		max-height: 7.5rem;
		overflow: auto;
	}

}