.TrendingText p {
	font-size: 36px;
	margin: 0px 0px 0.5rem 0.5rem;
	font-weight: 400;
	color: var(--soft-purple);
	text-align: center;
}

.trending {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	grid-gap: 0.5rem;
	align-items: center;
	margin-left: 0.5rem;
}

.TrendingContainer:hover .trendingEntries {
	opacity: 0.5;
}

.TrendingContainer:hover .trendingEntries:hover {
	opacity: 1;
	transform: scale(1.02);
}

.trending::-webkit-scrollbar {
	height: 0px;
}

.trendingEntries {
	transition: transform 400ms ease;
	background-color: #1f1f1fbb;
	padding: 0.5rem;
	border-radius: 0.4rem;
	transition: opacity 400ms ease, transform 400ms ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.trendingEntries p {
	text-align: center;
	width: auto;
	max-width: 180px;
	margin: 0.5rem 0 0 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.trendingEntries img {
	border-radius: 0.4rem;
}

@media screen and (max-width: 768px) {
	.TrendingText p {
		text-align: start;
		font-size: 26px;
		margin-bottom: 1rem;
	}

	.trending {
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		margin-top: -8px;
	}

	.trendingEntries img {
		width: auto;
	}
}
