.Main {
	margin: 80px auto;
}

.Image {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1b1b1b;
	border-radius: 10px;
	width: 50%;
	margin: 10px auto;
}

.ImageContainer img {
	max-width: auto;
	height: auto;
	border-radius: 5px;
	margin-top: 10px;
}

.ImageContainer p {
	text-align: center;
	color: white;
	font-family: "Atkinson Hyperlegible", serif;
	font-size: 16px;
	margin: 5px;
}

.NotFound {
	text-align: center;
	color: white;
	font-family: "Atkinson Hyperlegible", serif;
	font-size: 20px;
}

.DownloadMain {
	text-align: center;
}

.DownloadMain button {
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 5px;
	font-family: "Atkinson Hyperlegible", serif;
	font-size: 16px;
	background-color: var(--light-green);
	cursor: pointer;
}

.DownloadMain button:hover {
	background-color: var(--pastel-red);
}

@media screen and (max-width: 768px) {
	.ImageContainer img {
		width: 95%;
		align-items: center;
	}

	.Image {
		width: 100%;
	}
}