:root {
	--neon-green: #45FFCA;
	--neon-yellow: #FEFFAC;
	--light-green: #DCFFB7;
	--pastel-red: #FF6868;
	--soft-purple: #BEADFA;
	--softer-purple: #D0BFFF;
}


body {
	margin: 0px;
	padding: 0px;
	background-color: #1f1f1f;
}

body::-webkit-scrollbar {
	width: 0px;
}