.ErrorContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100dvh;
	color: white;
	font-family: "Kanit";
	font-size: 20px;
}

.ErrorContainer button {
	border-radius: 5px;
	padding: 3px;
	font-family: "Lato";
	border: 0;
	outline: 0;
}
