@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Lexend+Deca&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--neon-green: #45ffca;
	--neon-yellow: #feffac;
	--light-green: #dcffb7;
	--pastel-red: #ff6868;
	--soft-purple: #beadfa;
	--softer-purple: #d0bfff;


	--nord-red: #BF616A;
	--nord-green: #A3BE8C;
	--nord-yellow: #EBCB8B;
	--nord-orange: #D08770;
	--nord-pink: #B48EAD;

	--nord-bg-darkest: #2E3440;
	--nord-bg-darker: #3B4252;
	--nord-bg-dark: #434C5E;
	--nord-bg-darklight: #4C566A;

	--light-sky: #CAF4FF;
	--test: #1f1f1fd2;
}

body::-webkit-scrollbar {
	width: 0;
}