.welcomeContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	margin: 0px auto;
	text-align: center;
}

.welcomeContainer p {
	font-family: "Poppins";
	font-size: 20px;
	color: white;
}