.dramaInfoContainer {
	display: flex;
	flex-direction: column;
}

.dramaInfo {
	display: flex;
	flex-direction: column;
	width: 98%;
	margin: 80px auto;
}

.titleContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titleContainer p {
	color: var(--neon-green);
	width: 60%;
	font-family: "Poppins";
	font-weight: 500;
	font-size: 34px;
}

.titleContainer img {
	width: auto;
	height: auto;
	border-radius: 10px;
}

.animeDescription h2 {
	color: #ffffff81;
	margin: 20px 0px -10px 0px;
}

.animeDescription p {
	font-family: "Atkinson Hyperlegible";
	color: rgba(255, 255, 255, 0.637);
}

.buttonContainer {
	margin: 0px;
	height: 200px;
	overflow-y: auto;
	border-radius: 10px;
}

.buttonHeader {
	margin: 0px 10px 10px 0px;
	color: #ffffff81
}

.buttonContainer button:focus {
	opacity: 0.7;
	transition: transform 0.2s linear;
	background-color: var(--pastel-red);
	transform: scale(0.9);
}

.buttonContainer::-webkit-scrollbar-thumb {
	background-color: var(--soft-purple);
	border-radius: 5px;
}

.dramaButton {
	padding: 10px;
	font-family: "Quicksand";
	font-size: 14px;
	margin: 5px;
	width: 55px;
	border-radius: 5px;
	text-align: center;
	border: none;
	outline: none;
	color: white;
	background-color: #3d3d3d;
	transition: background-color 0.2s linear;
	cursor: pointer;
}

.dramaButton:hover {
	background-color: #1f1f1f;
	transition: background-color 0.2s linear
}

.infoPageContainer p {
	color: white;
}

.animeDetails {
	color: white;
}

.genreEntries {
	margin: 3px;
	padding: 4px;
	border-radius: 5px;
	color: var(--neon-green);
	background-color: #303030;
	cursor: pointer;
	font-family: "Atkinson Hyperlegible";
}

.animeType span {
	color: var(--light-green);
}

.animeRelease span {
	color: var(--soft-purple)
}

@media screen and (max-width: 768px) {

	.animeDetails {
		font-size: 14px;
	}
}