.Main {
	max-width: 98%;
	margin: 60px auto;
}

.TitleContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.TitleContainer p {
	color: white;
	font-size: 34px;
	font-weight: 500;
	color: var(--neon-green);
	margin: 0;
}

.TitleContainer img {
	border-radius: 0.4rem;
}

.DramaDescription h2 {
	color: gray;
}

.DramaDescription p {
	color: white;
	margin-top: -10px;
	color: rgba(255, 255, 255, 0.637);
}

.DramaGenre {
	display: flex;
	align-items: center;
	overflow-x: auto;
	color: white;
	margin-top: 1rem;
}
.DramaGenre p {
	background-color: #1f1f1f;
	margin: 0rem 0rem 0rem 0.4rem;
	padding: 0.4rem;
	border-radius: 0.2rem;
}

.DramaGenre::-webkit-scrollbar {
	height: 2px;
}

.DramaGenre::-webkit-scrollbar-thumb {
	background-color: var(--light-green);
	border-radius: 1rem;
}

.genreMain {
	color: var(--neon-green);
	font-size: 18px;
}

.EpisodesContainer {
	margin-top: -10px;
}

.EpisodesContainer h2 {
	color: gray;
}

.EpisodeButtons {
	margin: -10px 5px;
}

.EpisodeButtons button {
	margin: 3px;
	padding: 5px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #3d3d3d;
	transition: background-color 0.2s linear;
	color: white;
	cursor: pointer;
	width: 100px;
}

.EpisodeButtons button p {
	text-align: center;
	font-family: "Lexend Deca", serif;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.EpisodeButtons button:hover {
	background-color: #1f1f1f;
	transition: background-color 0.2s linear;
}

.videoPopUp {
	height: 100dvh;
	width: 100dvw;
	background-color: #141414ea;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
	overflow-y: auto;
}

.closeButton {
	font-family: "Lexend Deca", serif;
	font-size: 16px;
	background-color: var(--pastel-red);
	padding: 0.5rem 1.5rem;
	border: 0;
	outline: 0;
	border-radius: 0.5rem;
	cursor: pointer;
	margin: 5px;
}

.video {
	width: 60vw;
}

.VideoPlayer {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 768px) {
	.video {
		width: 100%;
	}

	.EpisodeButtons button {
		font-size: 14px;
		width: 80px;
	}

	.TitleContainer {
		flex-direction: column;
	}

	.TitleContainer img {
		width: auto;
		height: auto;
		border-radius: 0.2rem;
		background-color: #121212;
		padding: 0.2rem;
	}
	
	.TitleContainer p {
		font-size: 30px;
		font-weight: 400;
		margin: 0 0 0.25rem 0
	}

	.EpisodesContainer {
		text-align: center;
	}

	.EpisodeButtons button {
		width: 90px;
	}
}
