.popDramasText {
	color: var(--soft-purple);
	font-family: "Poppins";
	font-size: 28px;
	margin-bottom: 10px;
	font-weight: 500;
}

.AnimeContainer {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
}

.AnimeContainer::-webkit-scrollbar {
	height: 5px;
}

.AnimeContainer::-webkit-scrollbar-track {
	background-color: #3333339d;
	border-radius: 5px;
}

.AnimeContainer::-webkit-scrollbar-thumb {
	background-color: rgb(68, 68, 68);
	border-radius: 5px;
}

.AnimeContainer:hover .AnimeEntry {
	opacity: 0.3;
}

.AnimeContainer:hover .AnimeEntry:hover {
	opacity: 1;
	transform: scale(1.02);
}

/* Format the scrollbar later */

.AnimeEntry {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4px;
	background-color: #1f1f1fbb;
	padding: 0.5rem;
	transition: opacity 400ms ease, transform 400ms ease;
	cursor: grab;
	border-radius: 1rem;
}

.AnimeEntry img {
	border-radius: 1rem;
}

.AnimeEntry p {
	text-align: center;
	color: white;
	font-family: "Atkinson Hyperlegible";
	width: 140px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0.5rem 0rem 0rem 0rem;
}