.popDramasText {
	color: white;
	margin: 0 0 0.2rem	 0;
}

.AnimeContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 0.7rem;
	align-items: center;
}

.AnimeContainer::-webkit-scrollbar {
	height: 0px;
}

.AnimeContainer:hover .AnimeEntry {
	opacity: 0.5;
}

.AnimeContainer:hover .AnimeEntry:hover {
	opacity: 1;
	transform: scale(1.018);
	background-color: #272727;
}

.AnimeEntry {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1f1f1fbb;
	padding: 0.5rem;
	transition: opacity 200ms ease, transform 200ms ease,
		background-color 200ms ease;
	cursor: grab;
	border-radius: 0.4rem;
	overflow: hidden;
}

.AnimeEntry img {
	border-radius: 0.4rem;
	box-shadow: 0 0 10px 5px rgba(18, 18, 18, 0.863);
}

.AnimeEntry p {
	text-align: center;
	color: white;
	width: auto;
	max-width: 160px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0.5rem 0rem 0rem 0rem;
}

@media screen and (max-width: 768px) {
	.popDramasText {
		text-align: start;
		font-size: 26px;
		margin: 1rem 0 1rem 0;
	}

	.AnimeContainer {
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		margin-top: -8px;
	}

	.AnimeEntry img {
		width: auto;
	}
}
