
.LoadingText {
	color: white;
	text-align: center;
	font-size: 18px;
}

.Search {
	padding: 5px;
	background-color: #121212;
	display: flex;
	align-items: center;
	max-width: 30%;
	border-radius: 0.5rem;
}

.SearchContainer input {
	margin-left: 5px;
	padding: 5px;
	border: none;
	outline: none;
	background-color: #121212;
	font-size: 16px;
	color: white;
	width: 100%;
	font-family: "Lexend Deca";
}

.SearchResults {
	display: flex;
	margin: 10px 0 10px 0;
	overflow-x: auto;
}

.SearchResults::-webkit-scrollbar {
	height: 5px;
}

.SearchResults::-webkit-scrollbar-track {
	background-color: #3333339d;
	border-radius: 5px;
}

.SearchResults::-webkit-scrollbar-thumb {
	background-color: rgb(68, 68, 68);
	border-radius: 5px;
}

.SearchEntry {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
	padding: 6px;
	background-color: #2e2e2eab;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: opacity 200ms linear, background-color 200ms linear;
}

.SearchResults .SearchEntry {
	opacity: 0.5;
}

.SearchResults .SearchEntry:hover {
	opacity: 1;
	background-color: #333333c9;
}

.SearchEntry p {
	color: white;
	font-size: 18px;
	width: 45vh;
}

.SearchEntry img {
	border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
	.Search {
		max-width: 100%;
	}
}
