body {
	background-color: black;
	font-family: "Atkinson Hyperlegible";
	margin: 0;
	padding: 0;
}

.heading {
	text-align: center;
	font-family: "Silkscreen"; font-size: 40px;
	color: #d08770;
	padding: 50px;
	padding-bottom: 60px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	width: 260px;
}

input[type="text"] {
	padding: 5px;
	font-family: "Atkinson Hyperlegible";
	border: none;
	border-radius: 3px;
	background-color: #D8DEE9;
}

.movie-heading {
	color: #ebcb8b;
	text-align: center;
	padding-top: 30px;
	font-family: "Silkscreen"; font-size: 32px;
}

.movie-poster {
	display: block;
	margin: auto;
	align-items: center;
	justify-content: center;
	width: 215px;
	height: 300px;
	border-radius: 5px;
}

.watch-button {
	font-family: "Silkscreen";
	font-size: 14px;
	align-items: center;
	background-color: #d08770;
	justify-content: center;
	display: block;
	margin: 10px auto;
	border: None;
	border-radius: 3px;
	padding: 5px;
	transition: transform 0.2s ease;
}

.watch-button:hover {
	/* background-color: #D08770; */
	transform: scale(1.1)
}

.movie-desc {
	color: #88C0D0;
	text-align: center;
	justify-content: center;
	margin: 10px auto 10px;
	font-family: "Atkinson Hyperlegible";
	max-width: 400px;
}

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

/* Loader animation styles */
.loader {
	border: 5px solid #414141;
	border-top: 5px solid #EBCB8B;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s cubic-bezier(1, 0.5, 0.2, 0.7) infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}