.main {
	width: 99%;
	margin: 80px auto;
}

.mainText {
	color: var(--light-green);
	font-size: 24px;
}

.animeContainer {
	font-size: 18px;
	margin: 0px;
}

.animeEntry {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	background-color: #1f1f1f;
}

.animeEntry img {
	width: 10%;
	height: auto;
	border-radius: 0.8rem;
}

.titleContainer {
	color: white;
	margin-left: 0.2rem;
}

.titleContainer h3 {
	margin: 0px;
}

.EpisodeCount {
	color: var(--soft-purple);
	margin: 0px;
}

.date {
	color: var(--neon-yellow);
	margin: 0px;
}

.redirects {
	margin: 5px 0 0 0;
}

.redirects button {
	outline: none;
	border: none;
	margin-right: 0.4rem;
	border-radius: 0.2rem;
	padding: 0.2rem;
	font-family: "Lexend Deca", serif;
	background-color: #303030;
	color: white;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.animeContainer {
		font-size: 14px;
	}

	.animeEntry img {
		width: 35%;
	}
}
