.VideoContainer {
	margin: 0.5rem 0 0 0;
}

.VideoContainer button {
	font-family: "Lexend Deca", serif;
	outline: none;
	border: none;
	background-color: #121212be;

	color: white;
	margin-right: 0.2rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.VideoPlayer {
	width: 100%;
	height: 500px;
	aspect-ratio: "16/9";
	border: none;
	outline: none;
	border-radius: 0.5rem;
	margin: 0.5rem 0 0 0;
}

.VideoPlayer::-webkit-scrollbar {
	width: 0px;
}